.message {
    padding: 10px;
    margin: 10px;
    color:white;
    width: fit-content;
}

.message__user {
    margin-left:auto;
    color:white;
    text-align:left !important;
}

.message_userCard {
    background-color: rgb(134, 134, 212) !important;
}

.message_guestCard {
    background-color: rgb(231, 132, 132) !important;
}

