<%-include('header'); -%>


<h1 class="item">About me:)</h1>
<p>
  Hi !, Myname is Abhishek.j.n. <br> i am a DataScience/Machine-Learning practitioner.<br> and i am also a web developer ;)<br>
  Feel free to visit my <a href="https://github.com/abhishek-netizen">GitHub</a> repo <br>
  Thank you.
  </p>

<%- include('footer'); -%>
