<%- include("partials/header") -%>
<h2>Contact Us</h2>
<span >Have questions? we have answers.</span>
<a href="https://github.com/abhishek-netizen">GitHub</a>

<p>
  <%= contactMe %>
  </p>

<%- include("partials/footer") -%>
